{% extends "board/base.html" %}
{% block content %}
    <div class="container">
        <h1 class="text-center">연관지도</h1>
        <div class="row">
            <div class="association-container">
                <img src="data:image/png;base64,{{ graph }}" alt="Association Map" class="img-fluid">
            </div>
            <button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#associationDataCollapse" aria-expanded="false" aria-controls="associationDataCollapse">
                Raw Data 바로보기
            </button>
            <div class="collapse" id="associationDataCollapse">
                <div class="card card-body">
                    {{ association_data }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
