{% extends "board/base.html" %}
{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">제목</th>
            <th scope="col">본문</th>
            <th scope="col">날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td><a href="{% url 'board:post_detail' '1' %}">노년에게서 우리의 </a></td>
            <td>
                <span class="d-inline-block text-truncate" style="max-width: 400px;">
                    시인의 재판관중 생활능력이 심장의 아니더면 노년에게서 우리의 연임할 시인의 재판관중 생활능력이 심장의 아니더면 노년에게서 우리의 연임할
                </span>
            </td>
            <td>2022.08.01</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="{% url 'board:post_detail' '1' %}">심장의 아니더면 노년에게서 </a></td>
            <td>
                <span class="d-inline-block text-truncate" style="max-width: 400px;">
                    시인의 재판관중 생활능력이 심장의 아니더면 노년에게서 우리의 연임할 시인의 재판관중 생활능력이 심장의 아니더면 노년에게서 우리의 연임할
                </span>
            </td>
            <td>2022.08.01</td>
        </tr>
        </tbody>
    </table>

{% endblock %}

